<plugin name='red5' version='0.1'>
  <author>Cantina Consulting &lt;www.cantinaconsulting.com&gt;</author>
  <authorEmail>info@cantinaconsulting.com</authorEmail>
  <title>Provides tools to host and manage video with grails</title>
  <description> This plugin is written for the Groovy on Grails web application framework, and intends to make it relatively easy to use the Red5 functionality within Grails.  The goals of this plugin are as follows:

    * Provide an easy mechanism to develop new Red5 applications in Grails
    * Allow Red5 applications to use the GORM
    * Tie Red5 applications into a Spring Security model provided by Grails
    * Provide a deep integration between Grails and Red 5

 Please see http://www.cantinaconsulting.com/grails-plugins/ for more information.
 </description>
  <documentation>http://www.cantinaconsulting.com/grails-plugins/</documentation>
  <resources>
    <resource>DemoController</resource>
  </resources>
</plugin>